<h2 class="headline-title float-left">Dashboard</h2>

<div class="webhook-options dashboard clearfix">
  <select id="activity-date-picker" data-url="<%= request.base_url %>" class="form-control float-right">
    <option value="?timeframe=7-days">Last 7 Days</option>
    <option value="?timeframe=30-days" selected>Last Month</option>
    <option value="?timeframe=90-days">Last 3 Months</option>
    <option value="?timeframe=1-year">Last Year</option>
    <option value="?timeframe=all-time">All Time</option>
  </select>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <div class="card-block statistic">
      <h3><%= @all_requests %></h3>
      <span class="text-muted">Requests <small class="badge badge-light float-right"><%= @all_requests_total %></small></span>
    </div>
  </div>
  <div class="col-md-4 dashboard-extra-stat">
    <div class="card-block statistic">
      <h3><%= @all_apps %></h3>
      <span class="text-muted">Apps <small class="badge badge-light float-right"><%= @all_apps_total %></small></span>
    </div>
  </div>
</div>

<hr class="hr-dashboard" />

<div class="card-block chartjs">
  <p class="text-muted"><strong>All Request Activity</strong></p>
  <br>
  <%= line_chart @all_activity %>
</div>
