<h2 class="headline-title float-left">Overview</h2>

<div class="webhook-options dashboard clearfix">
  <%= render(DatePickerComponent, url: request.base_url) %>
</div>

<hr />

<div class="row" id="animate-wrapper">
  <div class="col-md-3">
    <%= render(StatisticComponent, name: 'Rows', total: @all_requests, stat: false, prepend: false, append: false) %>
  </div>
  <div class="col-md-3 dashboard-extra-stat">
    <%= render(StatisticComponent, name: 'Campaigns', total: @all_campaigns, stat: false, prepend: false, append: false) %>
  </div>
  <div class="col-md-3 dashboard-extra-stat">
    <%= render(StatisticComponent, name: 'Apps', total: @all_apps, stat: false, prepend: false, append: false) %>
  </div>
  <div class="col-md-3 dashboard-extra-stat">
    <%= render(StatisticComponent, name: 'Database', total: @all_databases, stat: false, prepend: false, append: false) %>
  </div>
</div>

<hr />

<%= render(ChartComponent, title: 'All Activity', graph: @all_activity) %>
