<h2 class="headline-title float-left">Dashboard</h2>
<div class="webhook-options dashboard clearfix">
  <select id="activity-date-picker" data-url="<%= request.base_url %>" class="form-control float-right">
    <option value="?timeframe=7-days">Last 7 Days</option>
    <option value="?timeframe=30-days" selected>Last Month</option>
    <option value="?timeframe=90-days">Last 3 Months</option>
    <option value="?timeframe=1-year">Last Year</option>
    <option value="?timeframe=all-time">All Time</option>
  </select>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= render(StatisticComponent, name: 'Rows', total: @all_requests, max_total: @all_requests_total) %>
  </div>
  <div class="col-md-4 dashboard-extra-stat">
    <%= render(StatisticComponent, name: 'Apps', total: @all_apps, max_total: @all_apps_total) %>
  </div>
  <div class="col-md-4 dashboard-extra-stat">
    <%= render(StatisticComponent, name: 'Campaigns', total: @all_campaigns, max_total: @all_campaigns_total) %>
  </div>
</div>

<hr class="hr-dashboard" />

<div class="card-block chartjs">
  <p class="text-muted"><strong>All Activity</strong></p>
  <br>
  <%= line_chart @all_activity %>
</div>
