<h2 class="headline-title float-left">Overview</h2>

<div class="webhook-options dashboard clearfix">
  <%= render(DatePickerComponent, url: request.base_url) %>
</div>

<hr />

<div class="row" id="animate-wrapper">
  <div class="col-md-4">
    <%= render(StatisticComponent, name: 'Rows', total: @all_requests, max_total: @all_requests_total) %>
  </div>
  <div class="col-md-4 dashboard-extra-stat">
    <%= render(StatisticComponent, name: 'Apps', total: @all_apps, max_total: @all_apps_total) %>
  </div>
  <div class="col-md-4 dashboard-extra-stat">
    <%= render(StatisticComponent, name: 'Campaigns', total: @all_campaigns, max_total: @all_campaigns_total) %>
  </div>
</div>

<hr />

<%= render(ChartComponent, title: 'All Activity', graph: @all_activity) %>
