<% set_meta_tags title: 'Account' %>

<h2 class="headline-title">Account</h2>
<hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, autocomplete: 'off', id: 'animate-wrapper' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="card-block has-footer">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', autocomplete: 'off' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', autocomplete: 'off' %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', autocomplete: 'off' %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :current_password %> <small class="text-muted float-right">(we need your current password to confirm your changes)</small>
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', autocomplete: 'off' %>
        </div>
      </div>
    </div>
    <br>
    <div class="card-block-footer clearfix">
      <%= f.submit "Save", class: 'btn btn-primary float-right' %>
    </div>
  </div>
<% end %>

<div class="sign_in_history mt-5">
  <span class="float-right text-muted mt-2"><strong>Total Logins:</strong> <%= current_user.sign_in_count %></span>
  <h3><strong>Login History</strong></h3>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card-block mb-3">
        <p><strong>Current Login</strong></p>
        <hr>
        <span><strong class="text-muted">Login Time:</strong><br><%= current_user.current_sign_in_at.strftime('%A, %d %b %Y %l:%M %p') %></span>
        <hr>
        <span><strong class="text-muted">Login IP Address:</strong><br><%= current_user.current_sign_in_ip %></span>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card-block">
        <p><strong>Last Login</strong></p>
        <hr>
        <span><strong class="text-muted">Login Time:</strong><br><%= current_user.last_sign_in_at.strftime('%A, %d %b %Y %l:%M %p') %></span> <hr>
        <span><strong class="text-muted">Login IP Address:</strong><br><%= current_user.last_sign_in_ip %></span>
      </div>
    </div>
  </div>
</div>
