<%= link_to raw('<i class="fas fa-plus mr-1"></i> Add User'), '/users/new', class: 'btn btn-primary float-right', remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %>
<h2 class="headline-title">Users <small class="ml-2 text-muted font-weight-bold" style="font-size: 0.6em">**Admin Only**</small></h2>
<hr />

<div class="table-simple" id="animate-wrapper">
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th class="table-total">Campaigns</th>
        <th class="table-total">Apps</th>
        <th class="table-total">Databases</th>
        <th class="table-total">Records</th>
        <th class="table-total">Logins</th>
        <th class="table-control"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><% if user.role == 1 %>Admin<% elsif user.role == 2 %>Collaborator<% elsif user.role == 3 %>User<% end %></td>
          <td class="table-total text-center"><%= Campaign.where(user_id: user.id).count %></td>
          <td class="table-total text-center"><%= App.where(user_id: user.id).count %></td>
          <td class="table-total text-center"><%= Database.where(user_id: user.id).count %></td>
          <td class="table-total text-center"><%= Request.where(user_id: user.id).count %></td>
          <td class="table-total text-center"><%= user.sign_in_count %></td>
          <td><a href="<% if user.id == 1 %>/account<% else %>/users/edit/<%= user.id %><% end %>" class="btn btn-sm btn-block btn-outline-secondary" data-remote="true" data-toggle="modal" data-target="#modal-window"><% if user.id == 1 %>Account<% else %>Edit<% end %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @users, class: 'table_pagination mt-3 mb-3' %>
