<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add New Total</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_with(model: [@campaign, @app, @database], local: false, remote: true) do |form| %>
      <div class="modal-body">
        <div class="row">
          <% if @database.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@database.errors.count, "error") %> prohibited this database from being saved:</h2>

              <ul>
                <% @database.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <% if @request.present? %>
            <div class="col-md-12" id="total-manager" data-total="<%= @stats.length %>">
              <select id="types_of_totals" name="total_type" class="form-control mb-3">
                <option disabled selected value> -- Select a Total Type -- </option>
                <option value="sum">Total Sum</option>
                <option value="match">Total Exact Match</option>
                <option value="contains">Total Contains Match</option>
              </select>
              <div class="card-block mb-3 hide" data-type="sum">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Column</span>
                  </div>
                  <select class="form-control" data-type="sum" data-name="column">
                    <option disabled selected value> -- Select Column -- </option>
                    <% @request.data.each do |value| %>
                      <option value="<%= value[0] %>"><%= value[0] %> <%= is_numeric?(value[1]) || is_float?(value[1]) ? "(Number)" : "" %></option>
                    <% end %>
                  </select>
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Label</span>
                  </div>
                  <input type="text" class="form-control" data-type="sum" data-name="title" />
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Prepend</span>
                  </div>
                  <input type="text" class="form-control" data-type="sum" data-name="prepend" />
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Append</span>
                  </div>
                  <input type="text" class="form-control" data-type="sum" data-name="append" />
                </div>
              </div>
              <div class="card-block mb-3 hide" data-type="match">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Column</span>
                  </div>
                  <select class="form-control" data-type="match" data-name="column">
                    <option disabled selected value> -- Select Column -- </option>
                    <% @request.data.each do |value| %>
                      <option value="<%= value[0] %>" data-value="<%= value[1] %>"><%= value[0] %></option>
                    <% end %>
                  </select>
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Matches</span>
                  </div>
                  <input type="text" class="form-control" data-type="match" data-name="string"  />
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Type</span>
                  </div>
                  <select class="form-control" data-type="match" data-name="show-as">
                    <option value="amount">Amount</option>
                    <option value="percent">Percentage</option>
                  </select>
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Label</span>
                  </div>
                  <input type="text" class="form-control" data-type="match" data-name="title" />
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Prepend</span>
                  </div>
                  <input type="text" class="form-control" data-type="match" data-name="prepend" />
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Append</span>
                  </div>
                  <input type="text" class="form-control" data-type="match" data-name="append" />
                </div>
              </div>

              <div class="card-block mb-3 hide" data-type="contains">
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Column</span>
                  </div>
                  <select class="form-control" data-type="contains" data-name="column">
                    <option disabled selected value> -- Select Column -- </option>
                    <% @request.data.each do |value| %>
                      <option value="<%= value[0] %>" data-value="<%= value[1] %>"><%= value[0] %></option>
                    <% end %>
                  </select>
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Contains</span>
                  </div>
                  <input type="text" class="form-control" data-type="contains" data-name="string"  />
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Type</span>
                  </div>
                  <select class="form-control" data-type="contains" data-name="show-as">
                    <option value="amount">Amount</option>
                    <option value="percent">Percentage</option>
                  </select>
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Label</span>
                  </div>
                  <input type="text" class="form-control" data-type="contains" data-name="title" />
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Prepend</span>
                  </div>
                  <input type="text" class="form-control" data-type="contains" data-name="prepend" />
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Append</span>
                  </div>
                  <input type="text" class="form-control" data-type="contains" data-name="append" />
                </div>
              </div>
              <%= form.text_area :stats, class: 'form-control hide', autocomplete: 'off', required: true, autofocus: true %>
            </div>
          <% else %>
            <div class="col-md-12">
              <div class="card-block text-muted text-center p-4" style="font-size: 1.3em;background: none">
                <p class="mb-0">This database has no data yet.</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-secondary hide" id="delete-current-total">Delete</a>
        <a href="#" class="btn btn-primary" id="saveNewTotal">Save</a>
      </div>
    <% end %>
  </div>
</div>
