<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add New Total</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_with(model: [@campaign, @app, @database], local: false, remote: true) do |form| %>
      <div class="modal-body">
        <div class="row">
          <% if @database.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@database.errors.count, "error") %> prohibited this database from being saved:</h2>

              <ul>
                <% @database.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="col-md-12" id="total-manager" data-total="<%= @stats.length %>">
            <select id="types_of_totals" name="total_type" class="form-control mb-3">
              <option disabled selected value> -- Select a Total Type -- </option>
              <option value="sum">Total Sum</option>
              <option value="match">Total Exact Match</option>
            </select>
            <div class="card-block mb-3 hide" data-type="sum">
              <select class="form-control mb-2" data-type="sum" data-name="column">
                <option disabled selected value> -- Select Column -- </option>
                <% @request.data.each do |value| %>
                  <option value="<%= value[0] %>"><%= value[0] %> <%= is_numeric?(value[1]) || is_float?(value[1]) ? "(Number)" : "" %></option>
                <% end %>
              </select>
              <input type="text" class="form-control" data-type="sum" data-name="title" placeholder="Title" />
            </div>
            <div class="card-block mb-3 hide" data-type="match">
              <select class="form-control mb-2" data-type="match" data-name="column">
                <option disabled selected value> -- Select Column -- </option>
                <% @request.data.each do |value| %>
                  <option value="<%= value[0] %>" data-value="<%= value[1] %>"><%= value[0] %></option>
                <% end %>
              </select>
              <input type="text" class="form-control mb-2" data-type="match" data-name="string" placeholder="Matches String" />
              <input type="text" class="form-control" data-type="match" data-name="title" placeholder="Title" />
            </div>
            <%= form.text_area :stats, class: 'form-control hide', autocomplete: 'off', required: true, autofocus: true %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" id="saveNewTotal">Save</a>
      </div>
    <% end %>
  </div>
</div>
