<h2 class="headline-title float-left">
  <%= image_tag("apps/#{@app.name}.png", class: 'app-image-headline') %>
  <%= appSingle(@app.name)['displayName'] %>
  <small class="text-muted"><%= @database.name %></small>
</h2>

<div class="webhook-options clearfix">
  <a href="/export?id=<%= @app.id %>" download class="btn btn-outline-light ml-2 float-right"><i class="fas fa-download mr-0"></i></a>
  <%= render(DatePickerComponent, url: "#{request.base_url}/database/#{@app.slug}") %>
</div>

<hr />

<%= render(ChartComponent, title: 'Activity', graph: @request_activity) %>
<%= render 'shared/table_controls' %>

<%= @results.html_safe %>
<%= will_paginate @requests, class: 'table_pagination mt-3 mb-3' %>

<%= render 'shared/table_columns' %>
<%= form_for '/delete_requests', html: {id: 'delete-requests', class: 'hide'} do |form| %>
  <input type="text" name="delete_ids" />
  <input type="text" name="redirect" value="<%= request.url %>" />
<% end %>
