<h2 class="headline-title float-left">
  <% if ActionController::Base.helpers.resolve_asset_path("apps/#{@app.slug}.png").present? %>
    <%= image_tag("apps/#{@app.slug}.png", class: 'app-image-headline') %>
  <% end %>
  <%= @app.name %>
  <small class="text-muted"><%= @database.name.titleize %></small>
</h2>

<div class="webhook-options clearfix">
  <a href="/export?id=<%= @app.id %>" download class="btn btn-outline-light ml-2 float-right"><i class="fas fa-download mr-0"></i></a>
  <%= render(DatePickerComponent, url: "#{request.base_url}/database/#{@app.slug}") %>
</div>

<hr />

<div id="animate-wrapper">
  <div class="row">
    <div class="col-md-3 mb-3">
      <%= render(StatisticComponent, name: 'Total Rows', total: number_with_delimiter(@requests.count)) %>
    </div>

    <% @stats['stats'].each do |value| %>
      <div class="col-md-3 mb-3">
        <% if value['type'] == 'sum' %>
          <%= render(StatisticComponent, name: value['title'].titleize, total: "#{Request.where(database_id: @database.id).pluck(Arel.sql("data->>'#{value['column']}'")).map(&:to_f).reduce(:+)}") %>
        <% end %>

        <% if value['type'] == 'match' %>
          <%= render(StatisticComponent, name: value['title'].titleize, total: "#{number_with_delimiter(Request.where(database_id: @database.id).where(Arel.sql("data->>'#{value['column']}' = '#{value['match']}'")).count)}") %>
        <% end %>
      </div>
    <% end %>
    <div class="col-md-3 mb-3">
      <%= link_to raw('<i class="fas fa-plus mr-0"></i>'), "/new_total/#{@campaign.slug}/#{@app.slug}/#{@database.slug}", remote: true, class: 'btn btn-outline-light', 'data-toggle':  "modal", 'data-target': '#modal-window'  %>
    </div>
  </div>
  <%= render(ChartComponent, title: 'Activity', graph: @request_activity) %>
  <%= render 'shared/table_controls' %>

  <%= @results.html_safe %>
  <%= will_paginate @requests, class: 'table_pagination mt-3 mb-3' %>
</div>

<%= render 'shared/table_columns' %>

<%= form_for '/delete_requests', html: {id: 'delete-requests', class: 'hide'} do |form| %>
  <input type="text" name="delete_ids" />
  <input type="text" name="redirect" value="<%= request.url %>" />
<% end %>
