<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add App</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_with(model: @app, url: "/create/#{@campaign.slug}/app", local: false, remote: true) do |form| %>
      <div class="modal-body">
        <div class="row">
          <% if @app.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

              <ul>
                <% @app.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="col-md-12">
            <select id="new_select_an_app" class="form-control">
              <option disabled selected value> -- Select an App -- </option>
              <%= all_apps_as_options(@campaign.apps.map(&:slug)) %>
            </select>

            <div id="apps_database_list" class="card-block mt-3 hide">
              <h4>
                <% if ActionController::Base.helpers.resolve_asset_path("apps/stripe.png").present? %>
                  <%= image_tag("apps/stripe.png", class: 'app-image-headline', style: 'width: 30px;margin-right: 5px;') %>
                <% end %>
                <strong class="change_app_name">Stripe</strong>
              </h4>
              <ul id="change_app_db_list" class="mb-0 p-0 text-muted" style="list-style: none"></ul>
            </div>
          </div>

          <div id="new-app-options" class="hide">
            <%= form.text_field :name, class: 'form-control', autocomplete: 'off', required: true %>
            <%= form.text_field :zapierapi, class: 'form-control', autocomplete: 'off', required: true %>
            <input type="text" name="db_list" id="app_db_list" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Save</button>
      </div>
    <% end %>
  </div>
</div>
