<h2 class="headline-title float-left"><%= @campaign.name %></h2>

<div class="webhook-options float-right clearfix mb-3">
  <%= link_to raw('<i class="fas fa-plus mr-1"></i> Add App'), "/new/#{@campaign.slug}/app", {remote: true, class: 'btn btn-primary', 'data-toggle':  "modal", 'data-target': '#modal-window'}  %>
</div>

<hr>

<div class="row" id="animate-wrapper">
  <% @apps.each do |app| %>
    <div class="col-md-12">
      <div class="card-block card-campaign-item mb-2">
        <div class="row">
          <div class="col-md-5 pt-2">
            <p><%= image_tag("/apps/#{app.slug}.png", class: 'app-image-headline', style: 'width: 34px;margin-right: 10px') %>
            <a style="padding-top: 3px;font-size: 1.2em" href="/campaigns/<%= @campaign.slug %>/<%= app.slug %>"><%= app.name %></a></p>
          </div>
          <div class="col-md-4">
            <span class="text-muted">Updated</span>
            <p class="text-small text-muted pt-1"><%= time_ago_in_words(app.created_at).capitalize %> ago</p>
          </div>
          <div class="col-md-2">
            <span class="text-muted">Database</span>
            <p><%= number_to_human(Database.where(app_id: app.id).count, :format => '%n%u', :units => { :thousand => 'K', :million => 'M' }) %></p>
          </div>
          <div class="col-md-1 text-right">
            <div class="dropdown dropleft">
              <a href="#" role="button" class="dotted-menu" id="campaign-edit-list-<%= app.slug %>" data-toggle="dropdown">
                <i class="fas fa-ellipsis-v"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="campaign-edit-list-<%= app.slug %>">
                <a class="dropdown-item text-muted" href="/campaigns/<%= @campaign.slug %>/<%= app.slug %>"><i class="far fa-eye mr-1"></i> View</a>
                <a class="dropdown-item text-muted" href="/edit/<%= @campaign.slug %>/<%= app.slug %>" data-remote="true" data-toggle="modal" data-target="#modal-window"><i class="far fa-edit mr-1"></i> Edit</a>
                <%= link_to raw('<i class="far fa-trash-alt mr-1"></i> Delete'), [@campaign, app], method: :delete, data: { confirm: 'Are you sure this will also delete all associated records?' }, class: 'dropdown-item text-muted' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @apps, class: 'table_pagination mt-3 mb-3' %>
