<h2 class="headline-title float-left mb-3">
  <%= image_tag("/apps/#{@app.slug}.png", class: 'app-image-headline') %>
  <%= @app.name %>
</h2>

<div class="webhook-options float-right">
  <% if !check_database_limit() %>
    <%= link_to raw('<i class="fas fa-plus mr-1"></i> Add Database'), "/new/#{@campaign.slug}/#{@app.slug}/database", {remote: true, class: 'btn btn-primary', 'data-toggle':  "modal", 'data-target': '#modal-window'}  %>
  <% end %>
</div>


<hr />
<div class="row">
  <% @databases.each do |database| %>
    <div class="col-md-12">
      <div class="card-block card-campaign-item mb-2">
        <div class="row">
          <div class="col-md-5 pt-2">
            <p><a style="font-size: 1.2em" href="/campaigns/<%= @campaign.slug %>/<%= @app.slug %>/<%= database.slug %>"><%= database.name.titleize %></a></p>
          </div>
          <div class="col-md-3">
            <span class="text-muted">Updated</span>
            <p class="text-small text-muted pt-1"><%= time_ago_in_words(database.created_at).capitalize %> ago</p>
          </div>
          <div class="col-md-1">
            <span class="text-muted">Records</span>
            <p><%= number_to_human(Request.where(database_id: database.id).count, :format => '%n%u', :units => { :thousand => 'K', :million => 'M' }) %></p>
          </div>
          <div class="col-md-2 pt-2 text-center">
            <% if database.connected.present? %>
              <a href="/zapier/<%= @campaign.slug %>/<%= @app.slug %>/<%= database.slug %>"  data-remote="true" data-toggle="modal" data-target="#modal-window" class="btn btn-sm btn-outline-light">Connected</a>
            <% else %>
              <a href="/zapier/<%= @campaign.slug %>/<%= @app.slug %>/<%= database.slug %>" data-remote="true" data-toggle="modal" data-target="#modal-window" class="btn btn-sm btn-zapier">Connect</a>
            <% end %>
          </div>
          <div class="col-md-1 text-right">
            <div class="dropdown dropleft">
              <a href="#" role="button" class="dotted-menu" id="campaign-edit-list-<%= database.slug %>" data-toggle="dropdown">
                <i class="fas fa-ellipsis-v"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="campaign-edit-list-<%= database.slug %>">
                <a class="dropdown-item text-muted" href="/campaigns/<%= @campaign.slug %>/<%= @app.slug %>/<%= database.slug %>"><i class="far fa-eye mr-1"></i> View</a>
                <a class="dropdown-item text-muted" href="/edit/<%= @campaign.slug %>/<%= @app.slug %>/<%= database.slug %>" data-remote="true" data-toggle="modal" data-target="#modal-window"><i class="far fa-edit mr-1"></i> Edit</a>
                <%= link_to raw('<i class="far fa-trash-alt mr-1"></i> Delete'), [@campaign, @app, database], method: :delete, data: { confirm: 'Are you sure this will also delete all associated records?' }, class: 'dropdown-item text-muted' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @databases, class: 'table_pagination mt-3 mb-3' %>
