<h2 class="headline-title float-left mb-3">
  <% if ActionController::Base.helpers.resolve_asset_path("apps/#{@app.slug}.png").present? %>
    <%= image_tag("apps/#{@app.slug}.png", class: 'app-image-headline') %>
  <% end %>
  <%= @app.name %>
</h2>

<div class="webhook-options float-right">
  <%= link_to raw('<i class="fas fa-plus mr-1"></i> Add Database'), "/new/#{@campaign.slug}/#{@app.slug}/database", {remote: true, class: 'btn btn-primary', 'data-toggle':  "modal", 'data-target': '#modal-window'}  %>
</div>

<hr />

<div class="table-simple">
  <table class="table">
    <thead>
      <tr>
        <th class="table-name">Name</th>
        <th class="table-total">Rows</th>
        <th class="table-url">Webhook URL</th>
        <th class="table-total">Zapier</th>
        <th style="width: 50px"></th>
      </tr>
    </thead>
    <tbody>
      <% @databases.each do |database| %>
        <tr>
          <td style="font-size: 1.08em">
            <a href="/campaigns/<%= @campaign.slug %>/<%= @app.slug %>/<%= database.slug %>"><%= database.name.titleize %></a>
          </td>
          <td class="table-total text-center">
            <%= number_to_human(Request.where(database_id: database.id).count, :format => '%n%u', :units => { :thousand => 'K', :million => 'M' }) %>
          </td>
          <td class="table-url">
            <input class="form-control form-control-sm click-to-copy" value="<%= "#{request.base_url}/~/#{@campaign.slug}/#{@app.slug}/#{database.slug}" %>" />
          </td>
          <td class="table-total">
            <% if database.connected.present? %>
              <strong class="text-muted"><i class="fas fa-check-circle mr-1" style="color: #a6ca46"></i></strong>
            <% else %>
              <a href="https://zapier.com/zapbook/create/<%= @app.zapierapi %>/WebHookAPI" target="_blank" class="btn btn-sm btn-zapier btn-block">Connect</a>
            <% end %>
          </td>
          <td class="text-right">
            <div class="dropdown dropleft">
              <a href="#" role="button" class="dotted-menu" id="campaign-edit-list-<%= database.slug %>" data-toggle="dropdown">
                <i class="fas fa-ellipsis-v"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="campaign-edit-list-<%= database.slug %>">
                <a class="dropdown-item text-muted" href="/campaigns/<%= @campaign.slug %>/<%= @app.slug %>/<%= database.slug %>"><i class="far fa-eye mr-1"></i> View</a>
                <a class="dropdown-item text-muted" href="/edit/<%= @campaign.slug %>/<%= @app.slug %>/<%= database.slug %>" data-remote="true" data-toggle="modal" data-target="#modal-window"><i class="far fa-edit mr-1"></i> Edit</a>
                <%= link_to raw('<i class="far fa-trash-alt mr-1"></i> Delete'), [@campaign, @app, database], method: :delete, data: { confirm: 'Are you sure this will also delete all associated records?' }, class: 'dropdown-item text-muted' %>
              </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @databases, class: 'table_pagination mt-3 mb-3' %>
