<%= form_with(model: campaign, local: true) do |form| %>
  <div class="modal-body">
    <div class="row">
      <% if campaign.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

          <ul>
            <% campaign.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-md-12">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control', autocomplete: 'off', required: true, autofocus: true %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Save</button>
  </div>
<% end %>
