<h2 class="headline-title float-left">All Campaigns</h2>

<div class="webhook-options float-right clearfix mb-3">
  <% if !check_campaign_limit() %>
    <%= link_to raw('<i class="fas fa-plus mr-1"></i> New Campaign'), '/new_campaign', class: 'btn btn-primary float-right', remote: true, 'data-toggle':  "modal", 'data-target': '#modal-window' %>
  <% else %>
    <p class="pt-2 text-muted text-small">Campaigns Limit Reached</p>
  <% end %>
</div>
<hr />


<% if @campaigns.length == 0 %>
  <div class="card-block text-muted text-center p-4" style="font-size: 1.4em;background: none">
    <p class="mb-0">You have no campaigns yet.</p>
  </div>
<% end %>

<div class="row" id="animate-wrapper">
  <% @campaigns.each do |campaign| %>
    <div class="col-md-12">
      <div class="card-block card-campaign-item mb-2">
        <div class="row">
          <div class="col-md-5 pt-2">
            <p><a style="font-size: 1.2em" href="/campaigns/<%= campaign.slug %>"><%= campaign.name.titleize %></a></p>
          </div>
          <div class="col-md-4">
            <span class="text-muted">Updated</span>
            <p class="text-small text-muted pt-1"><%= time_ago_in_words(campaign.created_at).capitalize %> ago</p>
          </div>
          <div class="col-md-2">
            <span class="text-muted">Apps</span>
            <p><%= number_to_human(App.where(campaign_id: campaign.id).count, :format => '%n%u', :units => { :thousand => 'K', :million => 'M' }) %></p>
          </div>
          <div class="col-md-1 text-right">
            <div class="dropdown dropleft">
              <a href="#" role="button" class="dotted-menu" id="campaign-edit-list-<%= campaign.slug %>" data-toggle="dropdown">
                <i class="fas fa-ellipsis-v"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="campaign-edit-list-<%= campaign.slug %>">
                <a class="dropdown-item text-muted" href="/campaigns/<%= campaign.slug %>"><i class="far fa-eye mr-1"></i> View</a>
                <a class="dropdown-item text-muted" href="/edit/<%= campaign.slug %>/campaign" data-remote="true" data-toggle="modal" data-target="#modal-window"><i class="far fa-edit mr-1"></i> Edit</a>
                <%= link_to raw('<i class="far fa-trash-alt mr-1"></i> Delete'), campaign, method: :delete, data: { confirm: 'Are you sure this will also delete all associated apps and records?' }, class: 'dropdown-item text-muted' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @campaigns, class: 'table_pagination mt-3 mb-3' %>
