<%= link_to raw('<i class="fas fa-plus mr-1"></i> New Campaign'), new_campaign_path, class: 'btn btn-primary float-right' %>
<h2 class="headline-title">All Campaigns</h2>
<hr />

<% if @campaigns.length == 0 %>
  Create a Campaign
<% end %>

<% @campaigns.each do |campaign| %>
  <div class="card-block card-campaign-item mb-2">
    <div class="row">
      <div class="col-md-5">
        <span class="text-muted">Name</span>
        <p><a href="/campaigns/<%= campaign.slug %>"><%= campaign.name.capitalize %></a></p>
      </div>
      <div class="col-md-4">
        <span class="text-muted">Updated</span>
        <p class="mb-2">Last updated <%= time_ago_in_words(campaign.created_at) %></p>
      </div>
      <div class="col-md-1">
        <span class="text-muted">Apps</span>
        <p><%= number_to_human(App.where(campaign_id: campaign.id).count, :format => '%n%u', :units => { :thousand => 'K', :million => 'M' }) %></p>
      </div>
      <div class="col-md-1">
        <span class="text-muted">Rows</span>
        <p>0</p>
      </div>
      <div class="col-md-1 text-right">
        <div class="dropdown dropleft">
          <a href="#" role="button" class="dotted-menu" id="campaign-edit-list-<%= campaign.slug %>" data-toggle="dropdown">
            <i class="fas fa-ellipsis-v"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="campaign-edit-list-<%= campaign.slug %>">
            <a class="dropdown-item text-muted" href="/campaigns/<%= campaign.slug %>/apps"><i class="far fa-eye mr-1"></i> View</a>
            <a class="dropdown-item text-muted" href="/campaigns/<%= campaign.slug %>/edit"><i class="far fa-edit mr-1"></i> Edit</a>
            <%= link_to raw('<i class="far fa-trash-alt mr-1"></i> Delete'), campaign, method: :delete, data: { confirm: 'Are you sure this will also delete all associated apps and records?' }, class: 'dropdown-item text-muted' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= will_paginate @campaigns, class: 'table_pagination mt-3 mb-3' %>
