<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'CampaignVault', reverse: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <%= render 'shared/header' %>
    <main id="app-wrapper" class="container" role="main">
      <nav aria-label="breadcrumb">
        <span class="float-right text-small text-muted"><i class="far fa-user mr-1"></i> <%= current_user.email %></span>
        <ol class='breadcrumb'>
          <% counter = 0 %>
          <% breadcrumb_trail do |crumb| %>
            <% counter += 1 %>
            <% if breadcrumb_trail.count == counter %>
              <li class="breadcrumb-item <%= crumb.current? ? 'active' : '' %>">
                <%= crumb.name %>
              </li>
            <% else %>
              <li class="breadcrumb-item <%= crumb.current? ? 'active' : '' %>">
                <%= link_to crumb.name, crumb.url, (crumb.current? ? {'aria-current' => 'campaign'} : {}) %>
              </li>
            <% end %>
          <% end %>
        </ol>
      </nav>
      <hr>
      <%= yield %>
      <footer class="footer mt-3">
        <hr>
        <span class="text-muted text-small float-right"><%= get_footer_text() %></span>
        <span class="text-muted text-small">&copy; Copyright 2019 - <%= get_company_name() %></span>
      </footer>
    </main>

    <div class="modal fade hide" id="modal-window" tabindex="-1" role="dialog" aria-hidden="true"></div>

    <div id="notice" class="notification" style="display: none"><%= notice %></div>
    <div id="alert" class="notification" style="display: none"><%= alert %></div>

    <script src="/popper.min.js"></script>
    <script src="/tippy.min.js"></script>
    <script src="/datatables.js"></script>
    <script src="/datatables-select.js"></script>
    <script src="/datatables-buttons.js"></script>
    <script src="/bootstrap.js"></script>

    <script>
      $(document).ready(() => {
        var table = $('table.datatables').DataTable({
          paging: false,
          columnDefs: [{
            orderable: false,
            className: 'select-checkbox',
            targets: 0
          }],
          select: {
            style: 'multi',
            selector: 'td:first-child'
          },
          order: [[ 1, 'desc' ]],
          dom: 'Bfrtip',
          buttons: [
            {
              text: 'Select all',
              action: function () {
                table.rows().select();
              }
            },
            {
              text: 'Select none',
              action: function () {
                table.rows().deselect();
              }
            },
            {
              text: 'Delete Selected',
              class: 'btn btn-sm btn-outline-secondary',
              action: function () {
                const data = table.rows({selected: true}).data().toArray()
                let deleteIDs = []
                data.forEach(function(key) {
                  deleteIDs.push(key[1])
                })
                if (deleteIDs.length > 0) {
                  $('input[name="delete_ids"]').val(deleteIDs)
                  $('#delete-requests').submit()
                } else {
                  alert('No rows selected.')
                }
              }
            }
          ]
        })

        tippy('.tippy', {
          duration: 0,
          theme: 'light',
          arrow: false,
          maxWidth: '700px',
          content(reference) {
            const id = reference.getAttribute('data-template');
            const template = document.getElementById(id);
            return template.innerHTML;
          }
        })

        tippy('.tippyColumn', {
          duration: 0,
          theme: 'light',
          arrow: false,
          maxWidth: '700px'
        })
      })
    </script>
  </body>
</html>
