<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'WebhookDB', reverse: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="p-0">
    <%= yield %>
    <div id="notice" class="notification" style="display: none"><%= notice %></div>
    <div id="alert" class="notification" style="display: none"><%= alert %></div>
  </body>
</html>
